<h1>About Us</h1>
<p>We’re here to help re-connect people with the natural world, and to inspire them to build and maintain more beautiful spaces. Whether you know nothing about owning plants or are an experienced green-thumb, we hope to see you in the shop soon.</p>
